body {
  background-image: url("/Media/table.png");
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color:antiquewhite;
}

h1 {
    color: goldenrod;
    margin-top: 2rem;
}

#message-el {
  font-style: italic;
}

button {
  background-color: goldenrod;
  border: none;
  border-radius: 0.2rem;
  color: #016f32;
  font-weight: bold;
  width: 10rem;
  margin: 0.15rem 0;
  padding: 0.3rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.25rem 0.2rem rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: rgb(247, 217, 180);
}
