body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background:lightgray;
  text-align: center;
}

h1 {
  font-weight: 200;
  letter-spacing: 2px;
}

#container {
  width: 100%
}

.team-img {
  width: 100px;
  border-radius: 50%;
}
